{% extends "base.html" %}

{% block content %}
<section class="tests-container">
    <h2>Select a Test</h2>

    <div class="pdf-tracker">
        <p>Uploaded PDFs: {{ session.get('uploaded_pdfs', {}).values() | select('eq', True) | list | length }}/1</p>
    </div>

    <div class="tests-grid">
        <a href="{{ url_for('h2fpef') }}" class="test-box">
            <img src="{{ url_for('static', filename='images/h2fpef.jpg') }}" alt="H2FPEF Test">
            <h3>H2FPEF and Qrisk Test</h3>
            <p>Assess heart failure risk using clinical factors.</p>
        </a>

    </div>
</section>
{% endblock %}